div, hr {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 34px;
}

#header {
	height: 35px;
	background: cornflowerblue;
}

a, a:active, a:focus {
	color: navy;
	outline: none;
}

a:hover {
	color: mediumblue;
	text-decoration: none;
}

.full-width {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.m-l-1 {
	margin-left: 1rem;
}

.menu {
	border-right: 1px solid #ccc;
	padding: 1em 1em 0 1em;
	margin-left: -1em;
	background: #3e5a99;
	overflow: auto;
}

.project-logo {
	padding-bottom: 0.25em;
}

.project-configure {
	padding-top: 3px;
	font-size: large;
}

.ticket-table {
	background: whitesmoke;
}

.ticket-table > thead > tr {
	border-bottom: 2px solid #888;
}

.ticket-table > thead > tr > th,
.ticket-table > tbody > tr > th,
.ticket-table > thead > tr > td,
.ticket-table > tbody > tr > td {
	border-bottom: 1px solid #ccc;
}

.ticket-finished {
	background: #ccc;
}

.item-link {
	color: navy;
	display: block;
}

.current-ticket {
	background-color: #dde;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: gainsboro;
}

.project-name {
	padding-left: 0.5em;
	text-align: left;
	font-weight: bold;
	font-size: medium;
	color: black;
}

a:hover.project-name {
	color: black;
}

.detail-panel {
	margin: 0 0.25em 0 0;
	padding: 1em 1em 0 1em;
	overflow: auto;
	border-left: 1px solid #ccc;
}

.title {
	margin: 0 0 0.25em 0;
}

.white-title {
	color: white;
	text-decoration: none;
}

a.white-title {
	color: white;
	text-decoration: none;
}

.current-project {
	margin-left: -4px;
	padding: 0 0.5em 0 0.25em;
	margin-bottom: 0.1em;
}

.current-color{
	background: #f9ffff;
}

.radio-marker {
	outline: 1px solid #666;
}

span.radio-item {
	padding-left: 0.5em;
}

.ticket-field {
	color: #333;
	font-size: x-small;
}

.ticket-add {
	font-size: small;
}

.ticket-icon {
	width: 24px;
}

.icon-text {
	font-weight: 300;
	width: 6em;
}

.small-title {
	margin: 0.5em 0 0.25em 0;
	font-size: small;
}

.borderless {
	border: none;
	padding: 0.2em 1em 0.2em 1em;
}

.navbar {
	height: 35px;
	min-height: 35px;
}

.header-logo {
	padding-left: 8px;
}

.header-icons {
	font-size: x-large;
	padding: 0 1em 0 0;
}

.content-indent {
	padding: 1em 0 0 3em;
}

.locale-selector {
	padding-bottom: 1.5em;
}

.current-priority {
	padding: 0 0.5em 0 0.25em;
	margin-bottom: 0.1em;
	background: whitesmoke;
}

.priority-list {
	min-width: 100px;
}

.setting-subtitle {
	margin-left: -1em;
	font-weight: bold;
	color: black;
}

#sortable-projects {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
}

.ui-state-highlight {
	height: 2.2em;
	line-height: 1.2em;
	margin: 0.25em 0 0.25em 0;
	background-color: cornsilk;
}

.sortable-frame {
	height: 2.2em;
	margin: 0 0 0.25em 0;
	padding: 0.25em 0 0.25em 0;
}

.project-item-left {
	text-align: left;
	float: left;
	padding-left: 0.5em;
}

.project-item-right {
	text-align: right;
	padding-right: 0.5em;
}

.removed-projects {
	width: 80%;
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	border: 1px #ccc solid;
}

.removed-project-name {
	margin-left: 1em;
	padding-left: 1em;
}

a.delete-comment {
	color: #88f;
}

a:hover.delete-comment {
	text-decoration: underline;
}

.more {
	font-size: small;
}

.create-project {
	padding: 0.5em 0 0 1em;
}

.show-resolved {
	padding-left: 1em;
}

.all-project-indent {
	padding-top: 0.5em;
}

a:hover.add-project {
	text-decoration: underline;
}

.dropdown-menu > li:nth-child(odd) {
	background: #fafafa;
}
.dropdown-menu > li:nth-child(even) {
	background: #ffffff;
}
