body {
	text-align: center;
	line-height: 1.5;
	background-color: #3e5a99;
}

#wrapper
{
	margin: auto;
	padding: 10px 50px 0 50px;
	width: 1000px;
	text-align: left;
	color: #222222;
	background-color: white;
}

h1 {
	padding: 12px 0 15px 0;
	margin-bottom: 16px;
	background-color: #7ac2e8;
}

h3 {
	padding: 5px 10px 10px 18px;
	margin-top: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #7ac2e8;
}

h4.subsection {
	margin: 0 1em 1em 0;
	padding: 0.5em;
	border-left: 7px solid #7ac2e8;
	border-bottom: 1px dashed #7ac2e8;
}

td {
	padding: 0 8px 16px 0;
}

div.section {
	margin-top: 1.0em;
	padding-left: 2.0em;
}

div.section-half {
	margin-top: 1.0em;
	padding-left: 1.0em;
}
